<% var options = this %>
<div class="gradient" <%== (el) -> new Gradient(el, options) %>></div>
<div class="spectrum" <%== (el) -> new Spectrum(el, options) %>></div>
<div class="alpha" <%== (el) -> new Alpha(el, options) %>></div>

<article>
	<div class="controls">
		<form>
			<label>
				<span>R</span>
				<input type="number" min="0" max="255" name="r" required="" autofocus="" value="<%== color.attr('r') %>" />
			</label>

			<label>
				<span>G</span>
				<input type="number" min="0" max="255" name="g" required="" value="<%== color.attr('g') %>" />
			</label>

			<label>
				<span>B</span>
				<input type="number" min="0" max="255" name="b" required="" value="<%== color.attr('b') %>" />
			</label>

			<label>
				<span>A</span>
				<input type="number" min="0" max="100" step="1" name="a" value="<%== color.attr('a') * 100 %>" />
			</label>

			<label>
				<span>Hex</span>
				<input type="text" name="hex" value="<%== color.hex() %>">
			</label>

			<div class="preview row-fluid">
				<div class="span6">
					<span>New</span>
					<div class="outer">
						<div class="inner" style="background:<%== color.toString() %>"></div>
					</div>
				</div>
				<div class="span6">
					<span>Current</span>
					<div class="outer">
						<div class="original" style="background:<%== new Color(color).toString() %>"></div>
					</div>
				</div>
			</div>

			<footer>
				<button data-type="save">Apply</button>
			</footer>
		</form>
	</div>
</article>